---
layout: default
title: Home
---
<h1 class="pagetitle">Latest posts</h1>
{% for p in site.posts %}
<article class="item{% if p.image %} has-thumb{% endif %}">
  {% if p.image %}<a href="{{ p.url | relative_url }}" tabindex="-1" aria-hidden="true"><img class="thumb" src="{{ p.image | relative_url }}" alt=""></a>{% endif %}
  <div class="body">
    <h2><a href="{{ p.url | relative_url }}">{{ p.title }}</a></h2>
    <div class="meta">{{ p.date | date: "%B %-d, %Y" }}</div>
    <p>{{ p.excerpt | strip_html | truncatewords: 35 }}</p>
  </div>
</article>
{% endfor %}
